<section id="contact_us">
  <div class="container">
    <h2>contact us</h2>
    <ul class="group">
      <li>
        <h4>bill garnet</h4>
        <a href="mailto:billy@wesleymorrisentertainment.com">billy@wesleymorrisentertainment.com</a>
      </li>
      <li>
        <h4>jacque lueth</h4>
        <a href="mailto:jacque@wesleymorrisentertainment.com">jacque@wesleymorrisentertainment.com</a>
      </li>
      <li>
        <h4>david hankla</h4>
        <a href="mailto:david@wesleymorrisentertainment.com">david@wesleymorrisentertainment.com</a>
      </li>
    </ul>
    <h3>818.789.3700</h3>
  </div>
</section>