<section id="contact_us">
  <%= erb(:'partials/faded_logo', :layout => false) %>
  <div class="container">
    <h2>contact us</h2>
    <p class="number">
      &laquo; 818.789.3700 &raquo;
    </p>
    <p class="email_addresses">
      jacque lueth - jacque@wesleymorris.com<br/>
      bill garnet - billy@wesleymorris.com<br/>
      david hankla - david@wesleymorris.com<br/>
    </p>
  </div>
</section>