<section id="entertainment_credits">
  <%= erb(:'partials/faded_logo', :layout => false) %>
  <div class="container">
    <h2>entertainment credits</h2>

    <div class="group">
      <div class="category">
        <h3>television</h3>
        <ul>
          <li>Battle of the Network Stars</li>
          <li>The Superstars</li>
          <li>American Gladiators</li>
          <li>The Academy Awards</li>
          <li>Tribute to Muhammad Ali</li>
          <li>Wide World of Sports</li>
          <li>Liberty Weekend</li>
          <li>The Ace Awards</li>
          <li>Games People Play</li>
          <li>World’s Strongest Man</li>
          <li>Challenge of the Sexes</li>
          <li>Survival of the Fittest</li>
          <li>Star Games</li>
          <li>Star Kids</li>
          <li class="last">&middot;</li>
        </ul>
      </div>
      <div class="category">
        <h3>concerts</h3>
        <ul>
          <li>Elton John</li>
          <li>Rod Stewart</li>
          <li>Annie Lennox</li>
          <li>Julio Iglesias</li>
          <li>Natalie Cole</li>
          <li>Tom Jones</li>
          <li class="last">&middot;</li>
        </ul>
      </div>
    </div>
  
  </div>
</section>