<section id="global_production">
  <%= erb(:'partials/faded_logo', :layout => false) %>
  <div class="container">
    <h2>global production in over 50 countries</h2>
    <p>
      Anguilla · Argentina · Aruba · Australia · Austria · Bahamas · Belgium · Bermuda · Bosnia · Brazil<br/>
      British Virgin Islands · Canada · Canary Islands · Cayman Islands · China · Cyprus · Czech Republic<br/>
      Denmark · Dominican Republic · Fiji · Finland · France · Germany · Greece · Guam · Haiti<br/>
      Hungary · India · Indonesia · Israel · Italy · Jamaica · Japan · Malaysia · Martinique · Mexico · Monaco<br/>
      Montenegro · Morocco · Netherlands · New Caledonia · New Zealand · Norway · Poland · Portugal<br/>
      Puerto Rico · Russia · Sardinia · Serbia · Seychelles · Singapore · South Africa · South Korea · Spain<br/>
      St. Kitts and Nevis · St. Lucia · St. Martin · Sweden · Switzerland · Thailand · Turkey · United Kingdom<br/>
      United States · US Virgin Islands · Venezuela
    </p>
  </div>
</section>