<section id="home">
  <%= erb(:'partials/faded_logo', :layout => false) %>
  <div class="container">
    <h1>
      imagination &nbsp;&nbsp;
      innovation &nbsp;&nbsp;
      inspiration
    </h1>
  </div>
</section>