<section id="home">
  <div class="container group">
    <table cellspacing="0">
      <tr>
        <td><span>imagination</span></td>
        <td><span>innovation</span></td>
        <td><span>inspiration</span></td>
      </tr>
    </table>
    <h3>Wesley Morris Entertainment is a privately owned television production studio based in Los Angeles. Its goal is to find and train the next generation of performers, athletes and production staff.</h3>
  </div>
</section>