<section id="producers">
  <div class="container">
    <h2>the producers</h2>
    <ul>
      <li>
        <h3>bill garnet &nbsp;&nbsp; <a href="mailto:billy@wesleymorris.com">billy@wesleymorris.com</a></h3>
        <p>
          Bill has been involved in theater since an early age. He studied with Sanford Meisner at the Neighborhood Playhouse, Bill Esper, Bill Alderson and Fred Kareman.  He has worked extensively on and off Broadway as well as in Los Angeles theater. His acting credits include Lanford Wilson Repertory Company, Arthur Miller Repertory Company and a series of plays by Agatha Christie. On the other side of the camera, Bill’s television producing and directing credits include: Reality Television &ndash; Battle of the Network Stars, American Gladiators, The Superstars and Star Games; Award Shows &ndash; The  Academy Awards, The Ace Awards and Liberty Weekend; Sports &ndash; The Olympics, Wimbledon, the NFL, NBA, MLB and The PGA Tour; and Concerts &ndash; Elton John, Rod Stewart, Annie Lennox, and Ray Charles. Bill is a graduate of the University of Miami.
        </p>
      </li>
      <li>
        <h3>jacque lueth &nbsp;&nbsp; <a href="mailto:jacque@wesleymorris.com">jacque@wesleymorris.com</a></h3>
        <p>
          Jacque started her career on the business side of the industry at ABC in Special Services, Finance and Broadcast Operations and Engineering. She moved into production and joined Witt Thomas Harris working closely with Susan Harris on the highly acclaimed shows Soap and Benson.  Rejoining ABC, she became part of the Emmy-award winning Monday Night Football, Wide World of Sports and Olympic teams. She wrote Battle of the Network Stars, Star Games, Star Kids Challenge and The Superstars. Most recently she was the Executive Vice President and Executive Producer of Broadcast Operations and International Events for a major multi-national corporation directing large-scale events. Jacque is a graduate of the University of Texas.
        </p>
      </li>
      <li>
        <h3>david hankla &nbsp;&nbsp; <a href="mailto:david@wesleymorris.com">david@wesleymorris.com</a></h3>
        <p>
          David began his career as a film critic for Cosmopolitan Magazine. He then left the critical field to pursue projects of his own and has since produced and directed multiple films, including the horror film Plug, the Tanzanian film Fazaa and the DC Documentary Film Festival Audience Award winning feature An Unjust State. A lifelong fan of theater, he co-founded The Footprint Players, one of the premier playwriting groups in North Carolina and has directed numerous theatrical events including critically praised stagings of Harold Pinter’s The Homecoming and The Rocky Horror Show. Recently,  David has worked with Dreamworks Animation and The Weinstein Company on such Feature films as Bobby, Factory Girl, Grindhouse, Bee Movie, Shrek The Third and How To Train Your Dragon. David is a graduate of Duke University.
        </p>
      </li>
    </ul>
  </div>
</section>

<section id="entertainment_credits">
  <div class="container">
    <h2>entertainment credits</h2>

    <div class="group">
      <div class="category">
        <h3>television</h3>
        <ul>
          <li>Battle of the Network Stars</li>
          <li>The Superstars</li>
          <li>American Gladiators</li>
          <li>The Academy Awards</li>
          <li>Tribute to Muhammad Ali</li>
          <li>Wide World of Sports</li>
          <li>Liberty Weekend</li>
          <li>The Ace Awards</li>
          <li>Games People Play</li>
          <li>World’s Strongest Man</li>
          <li>Challenge of the Sexes</li>
          <li>Survival of the Fittest</li>
          <li>Star Games</li>
          <li>Star Kids</li>
          <li class="last">&middot;</li>
        </ul>
      </div>
      <div class="category">
        <h3>concerts</h3>
        <ul>
          <li>Elton John</li>
          <li>Rod Stewart</li>
          <li>Annie Lennox</li>
          <li>Julio Iglesias</li>
          <li>Natalie Cole</li>
          <li>Tom Jones</li>
          <li class="last">&middot;</li>
        </ul>
      </div>
    </div>
  
  </div>
</section>

<section id="sports_credits">
  <div class="container">
    <h2>sports credits</h2>

    <div class="group">
      <div class="category">
        <ul>
          <li>Summer and Winter Olympics</li>
          <li>Wimbledon</li>
          <li>The Super Bowl</li>
          <li>NBA</li>
          <li>Monday Night Football</li>
          <li>Tennis</li>
          <li>Hockey</li>
          <li>MLB</li>
          <li>PGA</li>
          <li>Volleyball</li>
          <li>Water Polo</li>
          <li>The Iron Man Triathlon</li>
          <li>The New York Marathon</li>
          <li>America’s Cup</li>
          <li>Karate</li>
          <li>Equestrian</li>
          <li>Special Olympics</li>
          <li class="last">&middot;</li>
        </ul>
      </div>
      <div class="category">
        <ul>
          <li>NFL</li>
          <li>NCAA Football</li>
          <li>NCAA Basketball</li>
          <li>Boxing</li>
          <li>Figure Skating</li>
          <li>Body Building</li>
          <li>Auto Racing</li>
          <li>Skiing</li>
          <li>Bowling</li>
          <li>Ryder Cup</li>
          <li>Swimming</li>
          <li>Superbikers</li>
          <li>Wrestling</li>
          <li>Monster Truck</li>
          <li class="last">&middot;</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="television_programming">
  <div class="container">
    <h2>television programming</h2>

    <h3>over 1000 hours of programming on</h3>

    <ul>
      <li>ABC</li>
      <li>NBC</li>
      <li>CBS</li>
      <li>FOX</li>
      <li>BBC (UK)</li>
      <li>ESPN</li>
      <li></li>
    </ul>
  </div>
</section>

<section id="global_production">
  <div class="container">
    <h2>global production in over 50 countries</h2>
    <p>
      Anguilla · Argentina · Aruba · Australia · Austria · Bahamas · Belgium · Bermuda · Bosnia · Brazil<br/>
      British Virgin Islands · Canada · Canary Islands · Cayman Islands · China · Cyprus · Czech Republic<br/>
      Denmark · Dominican Republic · Fiji · Finland · France · Germany · Greece · Guam · Haiti<br/>
      Hungary · India · Indonesia · Israel · Italy · Jamaica · Japan · Malaysia · Martinique · Mexico · Monaco<br/>
      Montenegro · Morocco · Netherlands · New Caledonia · New Zealand · Norway · Poland · Portugal<br/>
      Puerto Rico · Russia · Sardinia · Serbia · Seychelles · Singapore · South Africa · South Korea · Spain<br/>
      St. Kitts and Nevis · St. Lucia · St. Martin · Sweden · Switzerland · Thailand · Turkey · United Kingdom<br/>
      United States · US Virgin Islands · Venezuela
    </p>
  </div>
</section>

<section id="contact_us">
  <div class="container">
    <h2>contact us</h2>
    <p class="number">
      &laquo; 818.789.3700 &raquo;
    </p>
    <p class="email_addresses">
      jacque lueth - jacque@wesleymorris.com<br/>
      bill garnet - billy@wesleymorris.com<br/>
      david hankla - david@wesleymorris.com<br/>
    </p>
  </div>
</section>