<section id="producers">
  <div class="container">
    <h2>the producers</h2>
    <ul>
      <li>
        <h3>bill garnet &nbsp;&nbsp; <a href="mailto:billy@wesleymorris.com">billy@wesleymorris.com</a></h3>
        <div>
          <p>Bill has been involved in theater since an early age. He studied with Sanford Meisner at the Neighborhood Playhouse, Bill Esper, Bill Alderson and Fred Kareman.  He has worked extensively on and off Broadway as well as in Los Angeles theater. His acting credits include Lanford Wilson Repertory Company, Arthur Miller Repertory Company and a series of plays by Agatha Christie. On the other side of the camera, Bill’s television producing and directing credits include: Reality Television &ndash; Battle of the Network Stars, American Gladiators, The Superstars and Star Games; Award Shows &ndash; The  Academy Awards, The Ace Awards and Liberty Weekend; Sports &ndash; The Olympics, Wimbledon, the NFL, NBA, MLB and The PGA Tour; and Concerts &ndash; Elton John, Rod Stewart, Annie Lennox, and Ray Charles. Bill is a graduate of the University of Miami.</p>
        </div>
      </li>
      <li>
        <h3>jacque lueth &nbsp;&nbsp; <a href="mailto:jacque@wesleymorris.com">jacque@wesleymorris.com</a></h3>
        <div>
          <p>Jacque started her career on the business side of the industry at ABC in Special Services, Finance and Broadcast Operations and Engineering. She moved into production and joined Witt Thomas Harris working closely with Susan Harris on the highly acclaimed shows Soap and Benson.  Rejoining ABC, she became part of the Emmy-award winning Monday Night Football, Wide World of Sports and Olympic teams. She wrote Battle of the Network Stars, Star Games, Star Kids Challenge and The Superstars. Most recently she was the Executive Vice President and Executive Producer of Broadcast Operations and International Events for a major multi-national corporation directing large-scale events. Jacque is a graduate of the University of Texas.</p>
        </div>
      </li>
      <li>
        <h3>david hankla &nbsp;&nbsp; <a href="mailto:david@wesleymorris.com">david@wesleymorris.com</a></h3>
        <div>
          <p>David began his career as a film critic for Cosmopolitan Magazine. He then left the critical field to pursue projects of his own and has since produced and directed multiple films, including the horror film Plug, the Tanzanian film Fazaa and the DC Documentary Film Festival Audience Award winning feature An Unjust State. A lifelong fan of theater, he co-founded The Footprint Players, one of the premier playwriting groups in North Carolina and has directed numerous theatrical events including critically praised stagings of Harold Pinter’s The Homecoming and The Rocky Horror Show. Recently,  David has worked with Dreamworks Animation and The Weinstein Company on such Feature films as Bobby, Factory Girl, Grindhouse, Bee Movie, Shrek The Third and How To Train Your Dragon. David is a graduate of Duke University.</p>
        </div>
      </li>
    </ul>
  </div>
</section>