<section id="television_programming">
  <%= erb(:'partials/faded_logo', :layout => false) %>
  <div class="container">
    <h2>television programming</h2>

    <h3>over 1000 hours of programming on</h3>

    <ul class="group">
      <li><img src="../images/abc.png" alt="ABC" /></li>
      <li><img src="../images/nbc.png" alt="NBC" /></li>
      <li><img src="../images/cbs.png" alt="CBS" /></li>
      <li><img src="../images/fox.png" alt="Fox" /></li>
      <li><img src="../images/bbc.png" alt="BBC" /></li>
      <li><img src="../images/espn.png" alt="ESPN" /></li>
    </ul>
    
    <h2>built largest private business network in the world</h2>

    <h3>50 countries &nbsp; 25 languages &nbsp; Live &amp; Tape</h3>
  </div>
</section>