<section id="television_programming">
  <%= erb(:'partials/faded_logo', :layout => false) %>
  <div class="container">
    <h2>television programming</h2>

    <h3>over 1000 hours of programming on</h3>

    <ul>
      <li>ABC</li>
      <li>NBC</li>
      <li>CBS</li>
      <li>FOX</li>
      <li>BBC (UK)</li>
      <li>ESPN</li>
      <li></li>
    </ul>
  </div>
</section>