<section id="sports_credits">
  <%= erb(:'partials/faded_logo', :layout => false) %>
  <div class="container">
    <h2>sports credits</h2>

    <div class="group">
      <div class="category">
        <ul>
          <li>Summer and Winter Olympics</li>
          <li>Wimbledon</li>
          <li>The Super Bowl</li>
          <li>NBA</li>
          <li>Monday Night Football</li>
          <li>Tennis</li>
          <li>Hockey</li>
          <li>MLB</li>
          <li>PGA</li>
          <li>Volleyball</li>
          <li>Water Polo</li>
          <li>The Iron Man Triathlon</li>
          <li>The New York Marathon</li>
          <li>America’s Cup</li>
          <li>Karate</li>
          <li>Equestrian</li>
          <li>Special Olympics</li>
          <li class="last">&middot;</li>
        </ul>
      </div>
      <div class="category">
        <ul>
          <li>NFL</li>
          <li>NCAA Football</li>
          <li>NCAA Basketball</li>
          <li>Boxing</li>
          <li>Figure Skating</li>
          <li>Body Building</li>
          <li>Auto Racing</li>
          <li>Skiing</li>
          <li>Bowling</li>
          <li>Ryder Cup</li>
          <li>Swimming</li>
          <li>Superbikers</li>
          <li>Wrestling</li>
          <li>Monster Truck</li>
          <li class="last">&middot;</li>
        </ul>
      </div>
    </div>
  </div>
</section>